.gallery {
    display: block;
    cursor: pointer;
    margin: 4px;
    float: left;
    width: 197.5px;
    height: 350px;
    padding: 0;
    opacity: 0.8;
    transition: transform 1s, opacity 1s;
    
    &:hover {
        position: relative;
        z-index: 30;
        opacity: 1;
        transform: scale(1.5)

    }
} 
  
.gallery img {
  width: 100%;
  height: 60%;
}
  
.desc {
  padding: 5px;
  font-size: 0.7rem;
  text-align: center;
}
