@media screen and (max-width: 768px) {
    
    .site-header h1 {
       display: none;
    }
    .site-header nav, .site-header, .gallery {
        display: block;
        text-align: center;
       
        
    }
    .slideshow-container {
        display: auto;
    }
    div.gallery {
        display: inherit;
        float: none;
        width: 300px ;
        margin: 0 auto;
    }

  }

@media screen and (max-width:680px) {
    .nav ul li {
        display: block;
        text-align: left;
        position: relative;
        
    }
}

