.page-about {
  background-color: white;
}
.page-mattresses {
  background-color: antiquewhite;
}
.page-sleepwear {
  background-color: rgb(189, 137, 178);
}
.page-pillows {
  background-color: rgb(164, 199, 190);
}





